/* style page for Crystal Collector Game */

/* Common items */
body {
    background: url("../images/vaio_hard_edge.png");
}
  
.container {
    font-family: 'Times New Roman', Times, serif;
    display: table;
}

.gameTitle {
    background-color: brown;
    color: white;
    padding: 5px;
}

.gameInstructions {
    background: rgb(243, 197, 160);
    color: green;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 5px;
}

.targetNumber {
    background: teal;
    color: white;
    height: 100px;
    margin-top: 5px;
    margin-bottom: 10px;
    margin-left: 0px;
    padding-left: 0px;
}

.winLossBox {
    background: rgb(27, 226, 233);
    color: black;
    height: 100px;
    margin-top: 5px;
    margin-bottom: 10px;
    margin-left: 10px;
    line-height: 20px;
}

.blueButton { 
    background: white;  
    border-color: gray;
    border-width: 2px;
    border-radius: 15px;
    margin-right: 5px;
}

.yellowButton { 
    background: white;  
    border-color: gray;
    border-width: 2px;
    border-radius: 15px;
    margin-right: 5px;
}

.greenButton { 
    background: white;  
    border-color: gray;
    border-width: 2px;
    border-radius: 15px;
    margin-right: 5px;
}

.redButton { 
    background: white;  
    border-color: gray;
    border-width: 2px;
    border-radius: 15px;
    margin-right: 5px;
}

.playerMsg {
    margin-top: 5px;
    background: teal;
    color: white;
}

.currentScore {
    background: teal;
    color: white;
    margin-top: 5px;
    height: 100px;}